<article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
    <div class="article-item">
        <header class="post-header">
            {% if post.header.link %}
              <h2 class="post-title" itemprop="name"><a href="{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url"><i class="fa fa-angle-double-right"></i></a> <a href="{{ post.header.link }}">{{ post.title }}</a></h2>
            {% else %}
              <h2 class="post-title" itemprop="name"><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h2>
            {% endif %}
        </header>
        <section class="post-excerpt" itemprop="description">
            <p>{{ post.content | striptags | truncate(200) }}</p>
        </section>
        <div class="post-meta">
            <time datetime="{{ post.date | date(site.date_long) }}">{{ post.date | date(site.date_long) }}</time>
            {% if post.taxonomy.tag|length > 0 %}
            <span class="post-tags-set">in {% for tag in post.taxonomy.tag %}<span class="post-tag-{{tag}}"><a href="{{ base_url }}/tag{{ config.system.param_sep }}{{ tag }}">{{ tag }}</a></span>{%if not loop.last %} + {% endif %}{% endfor %}</span>
            {% endif %}
        </div>
    </div>
</article>
