{% embed 'partials/base.html.twig' %}

{% block body %}
<body itemscope itemtype="http://schema.org/Article">
{% endblock %}

{% block content %}
    <main class="content {{ page.header.image ? 'tag-articleimage' : '' }}" role="main">
      <article class="post">
        {% if page.header.image %}
        <div class="article-image">
          <div class="post-image-image" style="background-image: url({% if page.header.image %}{{ page.media[page.header.image].url }}{% endif %})">
            Article Image
          </div>
          {% include 'partials/postmeta.html.twig' %}
        </div>
        {% else %}
        <div class="noarticleimage">
          {% include 'partials/postmeta.html.twig' %}
        </div>
        <br>
        <br>
        <br>
        {% endif %}
        <section class="post-content">
          {% if page.template == 'post' %}
          <div class="post-reading">
            <span class="post-reading-time"></span> read
          </div>
          {% endif %}
          <a name="topofpage"></a>
          {{ content }}
        </section>
        {% if config.plugins.jscomments.enabled %}
          {{ jscomments()|raw }}
        {% endif %}
        {% if page.template == 'post' %}
        <footer class="post-footer">
          <section class="share">
            {% for social in site.social %}
              {% if social.share_url != null %}
                <a class="icon-{{ social.icon }}" href="{{ social.share_url }}{{ social.share_title }}{{page.title | escape}}{{ social.share_link }}{{site.url}}{{page.id}}"
                  onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=255');return false;">
                <i class="fa fa-{{ social.icon }}"></i><span class="hidden">{{ social.icon }}</span>
                </a>
              {% endif %}
            {% endfor %}
          </section>
        </footer>
        <div class="bottom-teaser cf">
          <div class="isLeft">
            <h5 class="index-headline featured"><span>Written by</span></h5>
            <section class="author">
              <div class="author-image" style="background-image: url({{ base_url }}{{site.author.image}})">Blog Logo</div>
              <h4>{{ site.author.name }}</h4>
              <p class="bio">{{site.author.bio}}</p>
              <hr>
              <p class="published">Published <time datetime="{{ page.date | date(site.date_short) }}">{{ page.date | date(site.date_short) }}</time></p>
            </section>
          </div>
          {# {{/post}} #}
          <div class="isRight">
            <h5 class="index-headline featured"><span>Supported by</span></h5>
            <footer class="site-footer">
              <section class="poweredby">Proudly published with <a href="http://getgrav.org"> Grav</a></section>
              <a class="subscribe" href="{{ base_url_relative }}/blog.rss"> <span class="tooltip"> <i class="fa fa-rss"></i> You should subscribe to my feed.</span></a>
              <div class="inner">
                <section class="copyright">All content copyright <a href="{{ base_url_relative }}">{{site.author.name}}</a> &copy; {{ "now"|date('Y') }}<br>All rights reserved.</section>
              </div>
            </footer>
          </div>
        </div>
        {% endif %}

      </article>
    </main>
    <div class="bottom-closer">
      <div class="background-closer-image" {% if home.header.cover %} style="background-image: url({{ home.media[home.header.cover].brightness(-75).url }})"{% endif %}>
        Image
      </div>
      <div class="inner">
        <h1 class="blog-title">{{ site.title }}</h1>
        <h2 class="blog-description">{{ site.description }}</h2>
        <a href="{{ home.url }}" class="btn">Back to main page</a>
      </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% endembed %}
