{% extends 'partials/base.html.twig' %}
{% block header_navigation %}{% endblock %}
{% block content %}
	<div class="container">
    	<link rel="manifest" href="{{ webcomponents.manifest }}">
		<link rel="import" href="{{ webcomponents.import }}">

		<div class="webcomponents-app-plugin-wrapper">
			<{{ webcomponents.app.tag }} {{webcomponents.app.properties}}>
				{{ webcomponents.app.innerHTML }}
			</{{ webcomponents.app.tag}}>
		</div>
	</div>
{% endblock %}
